<footer class="app-footer">
    <div class="logo">
        <img ngSrc="./assets/logo.png" width="100" height="100"/>
    </div>
    <div class="menu">
        <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/about">Sobre</a>
            <a routerLink="/Especialidades">Especialidades</a>
            <a routerLink="/contact">Contato</a>
        </nav>
    </div>
    <div class="sociais">
        <button>
            <i class="bi bi-instagram"></i>
        </button>
        <button>
            <i class="bi bi-facebook"></i>
        </button>
        <button>
            <i class="bi bi-whatsapp"></i>
        </button>
    </div>
</footer>
<div class="creditos">
    <div>
        <p>Copyright | ON Academia - 2024</p>
    </div>
    <div>
        <p>Powerded by | Marcio David - Web Developer</p>
    </div>
</div>
