.app-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    cursor: pointer;

    .logo{
        transition: 0.3s;
    }
    .logo:hover{
        transform: scale(1.1);
    }

    .menu{
        display: flex;
        width: 50%;

        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 0 auto;}

        nav a{
            text-decoration: none;
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            font-weight: 500;
            margin: 0 20px;
            position: relative;
        }
        /* Efeito de hover */
        nav a::after{
            content: " ";
            width: 0px;
            height: 5px;
            background-color: #78F906;
            position: absolute;
            top: 30px;
            left: 0;
            border-radius: 0 0 10px 0;
        }

        nav a:hover::after{
            width: 100%;
            transition: width 0.5s;
        }
        /* Fim efeito de hover */
    }
    .sociais{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 30px;

        button {
            background-color: #000000;
            border: none;
            color: #78F906;
            font-size: 30px;
            cursor: pointer;
            margin: 0 20px;
            transition: 0.3s;            
        }
        button:hover{
            transform: scale(1.1);
            color: white;
        }
    }
}

.menu, .sociais{
    width: 25%;
}