<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span><strong>ON</strong> Academia</span>
            <h1>Sua melhor versão <strong>está aqui!</strong></h1>
        </div>
        <img ngSrc="/assets/casal.png" width="458" height="545"/>
    </section>
    <section class="benefit-section">
        <div class="data">
            <h2>Por que escolher a <strong>ON Academia?</strong></h2>
            <p>Na ON Academia, você encontra tudo o que precisa
                para alcançar seus objetivos de forma rápida e eficiente.<br>
                Nossos instrutores altamente qualificados estão prontos
                para te ajudar a atingir o seu melhor desempenho, seja<br>
                qual for o seu nível de condicionamento físico.</p>
        </div>
        <div class="list">            
                <h2>Transforme <strong>sua vida!</strong></h2>
                <ol>
                    <li>Melhore sua saúde cardiovascular</li>
                    <li>Aumente sua resistência física</li>
                    <li>Fortaleça seus músculos e ossos</li>
                    <li>Reduza o estresse e melhore seu humor</li>
                    <li>Aumente sua autoestima e confiança</li>
                </ol>           
        </div>
        <div class="btn-contato">
            <button><a href="wa.me" target="_blank"></a>Chama no Zap</button>
        </div>
    </section>
</main>
<app-footer></app-footer>
